body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: blue;
  margin-top: 30px;
}

.cuadro {
  background: white;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

.cuadro input {
  width: 90%;
  margin: 10px 0;
  padding: 5px;
}

.cuadro button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
}