body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Contenedor general */
.contenedor {
  text-align: center;
}

/* Título */
h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

/* Caja del formulario */
.cuadro {
  background: white;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Inputs */
.cuadro input {
  width: 90%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botón */
.cuadro button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.cuadro button:hover {
  background-color: darkblue;
}
